
.bothAchievedKpiLabel{
    background-color: #b9f6ca;
  }
  
  .bothNotAchievedKpiLabel{
    background-color: #ef9a9a; 
  }
  
  .monthOnlyAchievedKpiLabel{
    background-color: #fff59d;
  }
  .yearOnlyAchievedKpiLabel{
    background-color: #ffcc80;
  }