
.bothAchievedButton{
    border: 1.6px solid #4dbd74;
    background-color: #b9f6ca;
    color:  black;
    font-weight: 450;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  .bothAchievedButton:hover{
    border: 1.6px solid #4dbd74;
    background-color: #4dbd74;
    color: black;
    font-weight: 450;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  
  .bothNotAchievedButton{
    border: 1.6px solid #ff4444;
    background-color: #ef9a9a;
    color:  black;
    font-weight: 450;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;   
  }
  .bothNotAchievedButton:hover{
    border: 1.6px solid #ff4444;
    background-color: #ff4444;
    color: black;
    font-weight: 450;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  
  .monthOnlyAchievedButton{
    border: 1.6px solid #ffeb3b;
    background-color: #fff59d;
    color:  black;
    font-weight: 450;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  .monthOnlyAchievedButton:hover{
    border: 1.6px solid #ffeb3b;
    background-color: #ffeb3b;
    color: black;
    font-weight: 450;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  
  .yearOnlyAchievedButton{
    border: 1.6px solid #FF8800;
    background-color: #ffcc80;
    color:  black;
    font-weight: 450;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }
  .yearOnlyAchievedButton:hover{
    border: 1.6px solid #FF8800;
    background-color: #FF8800;
    color: black;
    font-weight: 450;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }